<ul class="nav navbar-nav navbar-right" id="top-nav">
    <li><a href="index.html">Home</a></li>

    <li><a href="index.html">Services</a></li>

    <li><a href="index.html">Features</a></li>

    <li class="active"><a href="blog.html">News</a></li>

    <li><a href="index.html">Pricing</a></li>

    <li><a href="index.html">Clients</a></li>

    <li><a href="contact-form.php">Contact</a></li>

    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Extras</a>

        <ul class="dropdown-menu">
            <li><a href="blog.html" class="external">Blog</a></li>

            <li><a href="blog-post.html" class="external">Single Post</a></li>

            <li><a href="about.html" class="external">Tabbed Page</a></li>

            <li><a href="contact-form.php" class="external">Contact Page</a></li>

            <li><a href="404.html" class="external">404 Page</a></li>

            <li><a href="404.html" class="external">403 Page</a></li>
        </ul>
    </li>
</ul>